<head-bar></head-bar>
<div class="fade">
    <div data-page="home" class="page">
        <!-- Page, "data-page" contains page name -->
        <div class="page-content">
            <div class="content-block-title">简介</div>
                <div class="card">
                    <div class="card-header center">关于我们</div>
                    <div class="card-content">
                        <div class="card-content-inner">工银聚移动客户端是xxxxxxx
                        xxxxxxxxxxxxxxxxxxxxxxxxxx
                        xxxxxxxxxxxxxxx</div>
                    </div>
                </div>
            </div>
    </div>
</div>