<!--head bar  -->
<head-bar></head-bar>


<div class="home-data-wrapper">
    数据统计内容
</div>
<div class="home-list">
    <ul class = "fn-avg-sm-2">
        <li class="fn-text-middle"><a ui-sref="order.productList">下订单</a></li>
        <li class="fn-text-middle"><a ui-sref="myorder.orderList" >我的订单</a></li>
        <li class="fn-text-middle"><a ui-sref="app">购物车</a></li>
        <li class="fn-text-middle"><a ui-sref="payment.paymentList"> 付款单</a></li>
        <li class="fn-text-middle"><a ui-sref="delivery"> 发货单</a></li>
        <li class="fn-text-middle"><a ui-sref="about"> 关于工银聚</a></li>
    </ul>
</div>

<!--bottom bar  -->
<bottom-bar></bottom-bar>

