<!-- Page, "data-page" contains page name -->
<div class="page-content slide-left" >
    <div class="content-block-title">Welcome To Framework7</div>
    <div class="content-block"><a  ui-sref="about" class="button button-raised">About Framework7</a></div>
    <div class="content-block-title">Framework7 Kitchen Sink</div>
    <!-- 内容-->
    <div class="list-block">
        <ul>
            <li><a ui-sref = "about" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">About Us</div>
                    </div>
                </div></a>
            </li>
            <li><a ui-sref ="about" class="item-link">
                <div class="item-content">
                    <div class="item-inner">
                        <div class="item-title">Services</div>
                    </div>
                </div></a>
            </li>
        </ul>
    </div>
</div>