<div id="doc-oc-demo1" ng-click="closeOffCanvas()"  class="fn-offcanvas">
    <div class="fn-offcanvas-bar">
        <div class="fn-offcanvas-content">
            <ul class="fn-list">
                <li>
                    <a ui-sref="app">
                        <div class="item-content">
                            <i class="fn-icon-home fn-icon-md"></i>首页
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="order.productList" class="item-link close-panel">
                        <div class="item-content">
                            <i class="fn-icon-buysellads  fn-icon-md"></i>下订单
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="myorder.orderList" class="item-link close-panel">
                        <div class="item-media">
                            <i class="fn-icon-list-alt  fn-icon-md"></i>我的订单
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="payment.paymentList" class="item-link close-panel">
                        <div class="item-content">
                            <i class="fn-icon-database fn-icon-md"></i>我的付款单
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="profile.info" class="item-link close-panel">
                        <div class="item-content">
                            <i class="fn-icon-user fn-icon-md"></i>个人信息
                        </div>
                    </a>
                </li>
                <li>
                    <a ui-sref="about" class="item-link close-panel">
                        <div class="item-content">
                            <i class="fn-icon-info fn-icon-md"></i>关于我们
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>