@charset "utf-8";
/* CSS reset */
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote,
pre, form, fieldset, table, th, td, input, table, textarea { margin: 0; padding: 0;}
table { border-collapse:collapse; border-spacing:0;}
fieldset, img { border:none;}
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}
ol, ul, li { list-style:none;}
caption,th { text-align:left;}
em{ font-style: normal;}
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: normal;}
img { border:0; -ms-interpolation-mode:bicubic; vertical-align:middle;}
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor:pointer;-webkit-appearance:button; *overflow:visible}
input[type="checkbox"], input[type="radio"] { box-sizing:border-box; padding:0;}
input[type="search"] { -webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none}
button::-moz-focus-inner, input::-moz-focus-inner { border:0; padding:0;}
a, a:hover { text-decoration: none; }
a:hover,a:active, input, :focus { outline:none;}
p:before, p:after { content:'';}
* { -webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color: transparent; tap-highlight-color:rgba(0,0,0,0); tap-highlight-color:transparent;}
body {font-family: '微软雅黑'; -webkit-text-size-adjust:none; -webkit-touch-callout:none; -webkit-user-select:none;line-height: 1rem; background-color:#fff; }
input { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; }

span,i,em{display:inline-block;}
html{background-color: #F2F2F2;}

.main{width:100%;}

.header{position: relative;z-index: 2000;}
.shadow{display:none;width:100%;height:100%;position: fixed;left:0;top:0;z-index: 1200;background-color: #F1F1F1;opacity: 0.5;}
.switch{display:none;width:100%;height:11.4rem;background-color: #fff;margin-top:5rem;position: absolute;top:0;left:0;z-index: 1300;}
.switch>ul{width:100%;height:100%;overflow: hidden;font-size:1rem;}
.switch>ul>li{width:25%;height:2.2rem;line-height:2.2rem;margin-left:6.25%;margin-top:2.1rem;text-align: center;border:1px solid #EAEAEA;border-radius:3px;float: left;}

.head{width:100%;height:11.4rem;background-color: #2F83CE;overflow: hidden;}
.photo{width: 5rem;height: 5rem;margin:0 auto;margin-top:1rem;border:2px solid #fff;border-radius: 50%;}
.photo>img{width:100%;height:100%;}
.company{font-size:1.1rem;color:#DFE9F5;margin:1rem auto;text-align: center;}
.company>span{width:3.3rem;height:1.3rem;font-size:0.7rem;background-color: #fff;border-radius: 3px;color:#487E9D;position:relative;text-align: center;line-height:1.3rem;margin-left:0.5rem; }
.orderCount{font-size:1rem;text-align:center;}
.orderC_name{color:#7FBBF1;margin-left:3rem;}
.orderC_num{color:#fff;margin:0 1.2rem;}
.orderC_line00,.orderC_line01{height:0.3rem;border-radius:3px;position:relative;top:-0.2rem;}
.orderC_line00{width:3rem;background-color:#fff;z-index: 5; }
.orderC_line01{width:6rem;background-color:#81B5E2;left:-3.25rem;z-index: 1; }

.text{width:100%;height:5.7rem;font-size:1.2rem;background-color: #F2F2F2;text-align: center;position:relative;}
.text>i{display: inline-block;width:1px;height:3rem;background-color: #D8D6D6;position: absolute;left:50%;top:50%;margin-top:-1.5rem;}
.text>div{width:50%;height:100%;float: left;}
.text>div>p{margin-top:1.5rem;margin-bottom:1rem;color:#C1C1C1;}
.text>div>span{color:#2F83CE;}

.list{width:100%;font-size:1.2rem;}
.list>li{width:100%;height:3.7rem;line-height:3.7rem; color:#828282;position:relative;}
.list>li>i{width:2rem;height:2rem;position:relative;top:15%;margin-left:1rem;margin-right:0.5rem;}
.list>li>em{width:0.3rem;height:0.83rem;background:url("../img/list_icon_left.png") no-repeat;background-size:100% 100%;position:absolute;right:1rem;top:50%;margin-top:-0.41rem;}
.remark{position:absolute;right:7%;color:#9F9F9F;}

.account,.address,.collect,.changePw{border-bottom:1px solid #F4F4F4;}
.shopCar{border-bottom:5px solid #F2F2F2;}

.account>i{background:url("../img/list_icon00.png") no-repeat;background-size:100% 100%;}
.address>i{background:url("../img/list_icon01.png") no-repeat;background-size:100% 100%;}
.shopCar>i{background:url("../img/list_icon02.png") no-repeat;background-size:100% 100%;}
.collect>i{background:url("../img/list_icon03.png") no-repeat;background-size:100% 100%;}
.changePw>i{background:url("../img/list_icon04.png") no-repeat;background-size:100% 100%;}
.child>i{background:url("../img/list_icon05.png") no-repeat;background-size:100% 100%;}




