<div class="profile">
    <div class="addAddress">
        <div class="add_line"></div>
        <ul class="add_list">
            <li>
                <span>收货人:</span>
                <input type="text" value="{{addressList.name}}">
            </li>
            <li>
                <span>手机号:</span>
                <input type="text" value="{{addressList.phone}}">
            </li>
            <li>
                <span>省市:</span><i class="city"></i>
            </li>
            <li>
                <span>详情地址:</span>
                <input type="text" value="{{addressList.address}}">
            </li>
        </ul>
    </div>
</div>