<!--个人信息-->
<div class="profile">
    <div class="switch">
        <ul>
            <li>经销商</li>
            <li>业务员</li>
            <li>内勤</li>
            <li>财务</li>
            <li>总经理</li>
            <li>业务员</li>
        </ul>
    </div>
    <div class="shadow"></div>

    <div class="main">
        <div class="head">
            <div class="photo">
                <img src="views/profile/img/photo.png" alt="">
            </div>
            <p class="company">浙江工银聚有限公司<span>经销商</span></p>
            <div class="orderCount">
                <span class="orderC_name">下单数</span>
                <span class="orderC_num">432</span>
                <span class="orderC_line00"></span>
                <span class="orderC_line01"></span>
            </div>
        </div>

        <div class="text">
            <i></i>
            <div class="left">
                <p>余额(万元)</p>
                <span>568.00</span>
            </div>
            <div class="right">
                <p>结算金额(万元)</p>
                <span>1686.00</span>
            </div>
        </div>
        <ul class="list">
            <a ui-sref="profile.addAddress">
                <li class="account">
                    <i></i>
                    <span>账户信息</span>
                    <span class="remark"></span>
                    <em></em>
                </li>
            </a>
            <a ui-sref="profile.myAddress">
                <li class="address">
                    <i></i>
                    <span>地址管理</span>
                    <span class="remark">未绑定</span>
                    <em></em>
                </li>
            </a>
            <a ui-sref="profile.addAddress">
                <li class="shopCar">
                    <i></i>
                    <span>我的购物车</span>
                    <span class="remark">22</span>
                    <em></em>
                </li>
            </a>
            <a ui-sref="profile.addAddress">
                <li class="collect">
                    <i></i>
                    <span>我的收藏</span>
                    <span class="remark">20</span>
                    <em></em>
                </li>
            </a>
            <a ui-sref="profile.changePw">
                <li class="changePw">
                    <i></i>
                    <span>修改密码</span>
                    <span class="remark">10</span>
                    <em></em>
                </li>
            </a>
            <a ui-sref="profile.addAddress">
                <li class="child">
                    <i></i>
                    <span>子账户管理</span>
                    <span class="remark"></span>
                    <em></em>
                </li>
            </a>
        </ul>
    </div>
</div>






