<div class="profile">
    <ul class="myAccount">
        <li>
            <span class="spa">客户编号 :</span>
            <input class="inp inp0" type="text" value="{{accountNum}}">
            <span class="remark0">(客户在公司编号，不可修改 )</span>
        </li>
        <li>
            <span class="spa">登录名 :</span>
            <input class="inp" type="text" value="{{accountName}}">
        </li>
        <li>
            <span class="spa">客户名称 :</span>
            <input class="inp" type="text" value="{{name}}">
        </li>
        <li>
            <span class="spa">联系手机 :</span>
            <input class="inp" type="text" value="{{phone}}">
        </li>
    </ul>
</div>