<div class="profile">
    <ul class="myAccount">
        <li>
            <span class="spa">客户编号 :</span>
            <input class="inp inp0" type="text" value="zjhgtest1">
            <span class="remark0">(客户在公司编号，不可修改 )</span>
        </li>
        <li>
            <span class="spa">登录名 :</span>
            <input class="inp" type="text" value="zjhgtest1">
        </li>
        <li>
            <span class="spa">客户名称 :</span>
            <input class="inp" type="text" value="浙江化工测试1">
        </li>
        <li>
            <span class="spa">联系手机 :</span>
            <input class="inp" type="text" value="15858585585">
        </li>
    </ul>
</div>