

<div id="orderList" class="order-list">
    <!--搜素加时间-->
    <div class="fn-g search-nav back-white">
        <div class="payment">
            <i class="iconfont icon-sousuo1 fn-size-color p2"></i>
            <a ui-sref="search">
                <input type="text" placeholder="请输入内容" class="payment-input">
            </a>
        </div>
    </div>
    <!--切换导航-->
    <ul class="fn-nav fn-nav-tabs myorder-tabs fn-avg-sm-5 back-white">
        <li ng-repeat="status in orderStatusArray">
            <a  class="fn-btn" href="javascript:void(0)" ng-click="changeStatus(status)">{{status.name}}</a>
        </li>
        <li>
            <drop-down>
                <a class="fn-btn">
                    日期
                    <i class="iconfont icon-xiangxiajiantou"></i>
                </a>
                <ul class="fn-dropdown-content paymentList-dropdown myorder-dropdown" >
                    <li class="fn-active"><a>一周内</a></li>
                    <li><a>一个月内</a></li>
                    <li><a>三个月内</a></li>
                </ul>
            </drop-down>
        </li>
    </ul>
    <!--数据盒子-->
    <iscroll-wrapper class="myorder-box">
        <li ng-repeat="order in orders track by $index">
            <!--订单编号-->
            <div class="num-content">
                <div class="badge fn-fl">
                    <span>{{$index+1}}</span>
                </div>
                <a ui-sref="myorder.orderDetail({orderId:order.d})" class="myorderID fn-fr">
                    订单编号：{{order.id}}
                    <i class="iconfont icon-xiangyoujiantou fn-fr"></i>
                </a>
            </div>
            <!--订单详情-->
            <div class="del-content">
                <div>
                    <span>
                        经销商名称：
                    </span>
                    <a ui-sref="myorder.orderDetail({orderId:order.d})" class="myorderName">
                        <!--{{order.id}}-->工银聚股份有限公司
                    </a>
                </div>
                <div>
                    <span>
                        下单时间：
                    </span>
                    <a ui-sref="myorder.orderDetail({orderId:order.d})" class="myorderTime">
                        {{order.time}}
                        <!--下单时间：2016-11-17　09:30:35-->
                    </a>
                </div>
                <div>
                    <span>
                        单据状态：
                    </span>
                    <a ui-sref="myorder.orderDetail({orderId:order.d})" class="myorderStau">
                        {{order.statusText}}
                        <!--已审核-->
                    </a>
                </div>

            </div>
            <!--订单金额-->
            <div class="mon-content">
                <a ui-sref="myorder.orderDetail({orderId:order.d})" class="myorderMon fn-fr">
                    ￥{{order.money}}
                </a>
                <span class="fn-fr">订单金额：</span>
            </div>
        </li>
    </iscroll-wrapper>
</div>

