<div class="fn-topbar-fixed-bottom fn-btn-group-justify">
        <div class="fn-btn-group">
            <a ui-sref="app" class="fn-btn fn-btn-primary" >首页</a>
        </div>
        <div class="fn-btn-group">
            <a ui-sref="order.productList" class="fn-btn fn-btn-primary" > 发现</a>
        </div>
        <div class="fn-btn-group">
            <a ui-sref="myorder.orderList" class="fn-btn fn-btn-primary">我的订单</a>
        </div>
        <div class="fn-btn-group">
            <a ui-sref="payment.paymentList" class="fn-btn fn-btn-primary">我的付款单</a>
        </div>
        <div class="fn-btn-group">
            <a ui-sref="profile.info" class="fn-btn fn-btn-primary" >个人信息</a>
        </div>
</div>