<!--我的收货地址-->
<div class="profile">
    <div class="myAddress">
        <ul>
            <li>
                <div class="myAddress_text">
                    <p><span style="float: left;">赵志平</span><span  style="float: right;">13666666666</span></p>
                    <p class="dizhi">杭州市下城区西湖文化广场西区萨克雷11号楼8层</p>
                </div>
                <div class="edit">
                    <div class="edit_left">
                        <span><i></i></span>设为默认地址
                    </div>
                    <div class="edit_right">
                        <a ui-sref="profile.editAddress"><i class="bj"></i></a>
                        <a><i class="sc"></i></a>
                    </div>
                </div>
            </li>
        </ul>
        <a ui-sref="profile.addAddress">
            <div class="myAddress_btn"><span></span>新增收货地址</div>
        </a>
    </div>
</div>