.fn-size{font-size: 1.2rem;}
.search-color{color:#2d83d0;font-size: 1.4rem;}
.money{color: #ff2150;font-weight: 600;}
.time{color: #5d5d5d}
.status{color: #F27405;}
/*搜索*/
.payment .back-white{background: #fff;}
.payment .payment-search{width:94%;border:1px solid #2d83d0;margin:3%;border-radius: 10px;}
.payment .payment-input{border:none;width:84%;outline: none;vertical-align: inherit;}
.payment .payment-input input[placeholder]{color: #ebf6ff;!important}
.payment  ul.paymentList-dropdown{border-radius: .8rem;overflow: hidden;padding: 0px;}

/*tab切换*/
.payment .payment-search .newtabs{border-bottom: 1px solid #c1c1c1;}
.payment .payment-search .newtabs>li>a:hover{border-bottom:1px solid  #2d83d0;color:#2d83d0 !important;}
.payment .payment-search .newtabs>li>a:active{color:#2d83d0;}

/*付款单列表*/

.payment .payment-list{border-radius: .8rem;border:1px solid #c1c1c1;overflow: hidden;background: #fff;}
.payment .payment-list-detail{background: #fbfbfb;border-top:1px solid #c1c1c1;border-bottom:1px solid #c1c1c1;}
.payment .payment-list-detail p{color:#000;line-height: 1.8rem;}
.payment .payment-arrow-up {width:0;height:0;color:#fff;border-right:3.4rem solid transparent;border-top:2.8rem solid #c1c1c1;display: inline-block;position: relative;  top:-3px;}
.payment .badgeSuccess{width:0;height:0;color:#fff;border-right:3.4rem solid transparent;border-top:2.8rem solid #2fa585;display: inline-block;position: relative;  top:-3px;}
.payment .badge{width:0;height:0;color:#fff;border-right:3.4rem solid transparent;border-top:2.8rem solid #2d83ce;display: inline-block;position: relative;  top:-3px;}
.payment .payment-list-number{position: relative;top: -32px;left: 6px;width: 1.4rem;white-space: nowrap;}
.payment .payment-numberlist{display: inline-block;width: 85%;line-height: 3.1rem;padding: 0 0.6rem 0 0;}

/*付款单详情*/
.payment  .paymentHead{background: #f2f2f2;min-height: 56.8rem;}
.payment  .payment-content{background:#fff;border-radius: .8rem;}
.payment  .b-bot{border-bottom: 1px solid #f2f2f2;}
.payment  .b-top{border-top: 1px solid #f2f2f2;}
.payment  .i-color{color: #F27405;font-size: 1.2rem;transform: rotateY(180deg);}
.payment  .color-67{ color: #676767;  }
.payment  .mypaymentName{color: #000;}
.payment  .content-head{width: 100%;line-height: 3.1rem;}
.payment  .content-center{padding: .6rem;line-height: 2rem;}
.payment  .freight{height: 40px;}
.payment  .freight p{height: 20px;}
.payment  .num-content{border-bottom: 1px solid #DFDFDF;}
.payment  .bor-none{border:none;}
.payment .orderTime{height:2rem;}
.payment  .informaNum-con{padding: .6rem;}
.payment  .num-content,.payment-mon-content{height: 2.7rem;}

