

<div id="productList" class="productList">
    <!--搜素加时间-->
    <div class="fn-g search-nav back-white">
        <div class="payment">
            <i class="iconfont icon-sousuo1 fn-size-color p2"></i>
            <a  ui-sref="product.productSearch">
                <input type="text" placeholder="关键字搜索" class="payment-input">
            </a>
        </div>
    </div>
    <!--切换导航-->
    <tab-bar>
        <li>
            <a  class="fn-btn" >全部产品</a>
        </li>
        <li>
            <a  class="fn-btn" >最近订单</a>
        </li>
        <li>
            <a  class="fn-btn" >收藏产品</a>
        </li>
    </tab-bar>
    <!--<ul class="fn-nav fn-nav-tabs myorder-tabs fn-avg-sm-5 back-white">-->
        <!--<li ng-repeat="status in getProductStatusArray">-->
            <!--<a  class="fn-btn" href="javascript:void(0)" ng-click="changeStatus(status)">{{status.name}}</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--数据盒子-->
    <iscroll-wrapper class="myorder-box">
        <li ng-repeat="product in products track by $index">
            <a ui-sref="product.productDetail({productId:product.productId})" >
                <!--订单编号-->
                <div class="num-content">
                    <div class="badge fn-fl">
                        <span>{{$index+1}}</span>
                    </div>
                    <span class="myorderID fn-fr">
                        {{product.productName}}
                    </span >
                </div>

                <!--订单详情-->
                <div class="del-content">
                    <div>
                        <span>
                            产品编号：{{product.productId}}
                        </span>
                        <span>
                            规格：262dt
                        </span>
                    </div>
                    <div>
                        <span>
                            价格：{{product.price}}
                        </span>
                        <span>
                            分类号：1001
                        </span>
                    </div>
                    <div>
                        <span>
                            分类名：{{product.productName}}
                        </span>
                    </div>

                </div>
            </a>
        </li>
    </iscroll-wrapper>
</div>


