

<div id="productList" class="productList">
    <!--搜素加时间-->

    <div class="wrapper-head">
        <div class="fn-g search-nav back-white">
            <div class="payment">
                <i class="iconfont icon-sou fn-size-color p2"></i>
                <a  ui-sref="product.productSearch">
                    <input type="text"  placeholder="关键字搜索" class="payment-input fn-disabled">
                </a>
            </div>
        </div>

        <div class="fn-g">
            <div class="fn-text-truncate fn-u-sm-9" ng-bind="currentCompany.companyName"></div>
            <span class="fn-text-right  fn-u-sm-3" ng-click="showCompanyList()">
                <a><i class="fn-icon-filter"></i>切换</a>
            </span>
        </div>
    </div>

    <!--数据盒子-->
    <iscroll-wrapper class="myorder-box">
        <li ng-repeat="product in products track by $index">
            <a ui-sref="product.productDetail({productId:product.productId})" >
                <!--订单编号-->
                <div class="num-content">
                    <div class="badge fn-fl">
                        <span>HOT</span>
                    </div>
                    <span class="myorderID fn-fr">
                        {{product.productName}}
                        <i class="iconfont icon-fanhui fn-fr"></i>
                    </span >
                </div>

                <div class="fn-g  prolDel-box">
                    <div class="fn-u-sm-9 fn-padding-0">
                        <!--订单详情-->
                        <div class="del-content">
                            <div class="">
                                <span class="fn-u-sm-7 fn-padding-0">
                                    产品编号：{{product.productId}}
                                </span>
                                <span class="fn-u-sm-5 fn-padding-0">
                                    规格：262dt
                                </span>
                            </div>
                            <div>
                                <span class="fn-u-sm-7 fn-padding-0">
                                    价格：{{product.price}}
                                </span>
                                <span class="fn-u-sm-5 fn-padding-0">
                                    分类号：1001
                                </span>
                            </div>
                            <div>
                                <span>
                                    分类名：{{product.productName}}
                                </span>
                            </div>

                        </div>
                    </div>
                    <div class="fn-u-sm-3 fn-padding-0">
                        <!--标准价-->
                        <div class="proMoney">
                            <div>标准价</div>

                            <div class="proMoney-num">￥{{product.price}}</div>
                        </div>
                    </div>
                </div>
            </a>
        </li>
    </iscroll-wrapper>

<fn-action>
    <ul class="fn-list">
        <li ng-repeat = "company in companyList">
            <a ng-bind="company.companyName" ng-click="changeCompany(company)">
            </a>
        </li>
    </ul>
</fn-action>

    <fn-action>
        <ul class="fn-list">
            <li ng-repeat = "company in companyList">
                <a ng-bind="company.companyName" ng-click="changeCompany(company)">
                </a>
            </li>
        </ul>
    </fn-action>
</div>

<!--bottom bar  -->
<bottom-bar></bottom-bar>