.fn-size{font-size: 1.2rem;}
.search-color{font-size: 1.4rem;color:#2d83d0;}
.satus{color: #f27405;}
.time{color: #767676}
.detColor{color:#000;}
/*搜索*/
.delivery .delivery-search{width:94%;border:1px solid #2d83d0;margin:3%;border-radius: 10px;}
.delivery .delivery-input{border:none;width:84%;outline: none;vertical-align: inherit!important;}
.delivery .delivery-input input[placeholder]{color: #ebf6ff;!important}
.delivery ul.deliveryList-dropdown{border-radius: 10px;overflow: hidden;padding: 0px;}

/*tab切换*/
.delivery .newtabs{border-bottom: 1px solid #c1c1c1;}
.delivery .newtabs>li>a:hover{border-bottom:1px solid  #2d83d0;color:#2d83d0 !important;}
.delivery .newtabs>li>a:active{color:#2d83d0;}

/*发货单列表*/
.delivery .delivery-box ul>li>a{display: block;padding: .8rem .8rem  .1rem .8rem;}
.delivery .delivery-list{border-radius: .8rem;border:1px solid #c1c1c1;overflow: hidden;}
.delivery .delivery-list p{color:#000;line-height: 1.9rem;}
.delivery .delivery-list-detail{background: #fbfbfb;padding-left: 9px;border-top:1px solid #c1c1c1;}
/*未确认*/
.delivery .deliveryNo{width:0;height:0;color:#fff;border-right:2rem solid transparent;border-top:1.9rem solid #ea566c;display: inline-block;position: relative;  top:-3px;}
/*已确认*/
.delivery .deliverySuccess{width:0;height:0;color:#fff;border-right:2rem solid transparent;border-top:1.9rem solid #2fa585;display: inline-block;position: relative;  top:-3px;}
.delivery .back-white{background: #fff;}
.delivery .list-number{position: relative;top: -32px;left: 6px;width: 1.4rem;white-space: nowrap;}
.delivery .delivery-numberlist{display: inline-block;width: 91%;line-height: 2.2rem;padding: 0 0.6rem 0 0;}
.delivery .delivery-numberlist .icon-fanhui{transform: rotateY(180deg);-webkit-transform: rotateY(180deg);}

/*发货单详情*/
.delivery .deliveryDet{min-height: 56.8rem;background: #f2f2f2;}
.delivery .deliveryDet li {border: 1px solid #dfdfdf;margin-bottom: .6rem;overflow: hidden;border-radius: .8rem;background: #fff;}
.delivery .b-bot{border-bottom: 1px solid #f2f2f2;}
.delivery .b-top{border-top: 1px solid #f2f2f2;}
.delivery .i-color{color: #F27405;font-size: 1.2rem;transform: rotateY(180deg);}
.delivery .color-76{ color: #767676;}
.delivery .mydeliveryName{color: #000;}
.delivery .content-head{width: 100%;line-height: 3.1rem;}
.delivery .content-center{padding: .6rem;line-height: 2rem;}
.delivery .height-29{font-size: 1.2rem;}
.delivery .freight{height: 40px;}
.delivery .freight p{height: 20px;}
.delivery .num-content{border-bottom: 1px solid #f2f2f2;}
.delivery .bor-none{border:none;}
.delivery .informaNum-con{padding: .6rem;}
.delivery .informaList-con{line-height: 3.1rem;}
.delivery .deliveryDetail-mon .mon-content{height: 1.9rem;}
.delivery .deliveryInformaList-del li{border: none;padding:.8rem .6rem .8rem .6rem;border-top: 1px solid #DFDFDF;margin-bottom: 0;overflow: hidden;border-radius: 0;color: #767676;}
