@keyframes left_in {
    from{transform: translateX(-100%)}
    to{transform: translateX(0)}
}

@keyframes left_out {
    from{transform: translateX(0)}
    to{transform: translateX(-100%)}
}

@keyframes right_in {
    from{transform: translateX(100%)}
    to{transform: translateX(0)}
}

@keyframes right_out {
    from{transform: translateX(0)}
    to{transform: translateX(100%)}
}
.page-left-in{
    animation: left_in 0.5s ease;
}
.page-left-out{
    animation: left_out 0.5s ease;
}
.page-right-in{
    animation: right_in 0.5s ease;
}
.page-right-out{
    animation: right_out 0.5s ;
}


/* main page animate*/
.view-slide-in.ng-enter, .view-slide-in.ng-leave {
    position:absolute;
    display:block;
    width:100%;
    min-height:100%;
}
.view-slide-in.ng-enter {
    animation: right_in 0.5s ease;
}
.view-slide-in.ng-leave {
    animation: left_out 0.5s ease;
}
.view-slide-out.ng-enter, .view-slide-out.ng-leave {
    position:absolute;
    display:block;
    width:100%;
    min-height:100%;
}
.view-slide-out.ng-enter {
    animation: left_in 0.5s ease;
}
.view-slide-out.ng-leave{
    animation: right_out 0.5s ease;
}