
<div class="fn-padding-sm paymentDet">
             <div class="payment-content fn-cf">

                 <div class=" fn-padding-right-xs content-head b-bot">
                     <i class="iconfont icon-sale i-color fn-padding-left-xs"></i>
                      <span>
                          订单编号：
                      </span>
                      <a class="mypaymentName color-67">
                           HGD1508121002 　　
                      </a>
                 </div>

                 <div class="content-center b-bot">
                     <div class="height-29">
                        <span>
                            客户编号：
                        </span>
                         <a class="myorderName color-67">
                             10001 分公司 　　
                         </a>
                     </div>
                     <div class="height-29">
                        <span >
                            客户名称：
                        </span>
                         <a class="color-67">
                             浙江工银聚有限公司
                         </a>
                     </div>
                     <div class="height-29">
                        <span >
                            付款方式：
                        </span>
                         <a class="color-67">
                             易付
                         </a>
                     </div>
                     <div class="height-29">
                        <span >
                            分公司编号：
                        </span>
                         <a class="color-67">
                             10001
                         </a>
                     </div>
                     <div class="height-29">
                        <span >
                            分公司名称：
                        </span>
                         <a class="color-67">
                             浙江工银聚有限公司
                         </a>
                     </div>
                     <div class="height-29">
                        <span >
                            创建时间：
                        </span>
                         <a class="color-67">
                             2017-01-17  15:20:25
                         </a>
                     </div>
                 </div>

                     <div class="num-content informaNum-con bor-none  fn-padding-bottom-0">
                        <span  class="fn-fl ">
                           订单总额
                        </span>
                        <span  class="fn-fr ">
                           ￥20,500.00
                        </span>
                     </div>
                     <div class="freight fn-padding fn-padding-top-0 fn-padding-bottom-0 fn-cf">
                         <p>
                             <span class="fn-fl color-67 fn-text-xs">
                               +运费
                            </span>
                            <span class="fn-fr color-67 fn-text-xs">
                               ￥40.00
                            </span>
                                     </p>
                                     <p>
                            <span class="fn-fl color-67 fn-text-xs">
                               -现金抵用券
                            </span>
                            <span class="fn-fr color-67 fn-text-xs">
                               ￥120.00
                            </span>
                         </p>

                     </div>

                     <div class="paymentDetail-mon b-top fn-padding-right-xs">
                         <div class="mon-content ">
                             <a class="myorderMon fn-fr money">
                                 ￥4000.00
                             </a>
                             <span class="fn-fr">支付金额：</span>
                         </div>
                         <div class="bor-none height-sm">
                             <a class=" fn-fr color-67 fn-text-xs">
                                 2016-11-21  09:52
                             </a>
                             <a class="fn-fr color-67 fn-text-xs">下单时间：</a>
                         </div>
                     </div>

             </div>
</div>
