/*new orderlist*/
/*.productList-cart{
    position: fixed;
    top:0;
    right:10px;
    color:#fff;
    height:50px;
    line-height:50px;
}
p,ul,h1,h2,h3,h4,h5,h6,ol,dl,dt,dd,pre,li,form,input,select,textarea{
    margin:0;padding:0;
    list-style:none;
}
.order-list{
    background:#F2F2F2 ;
}
.back-white{
    background: #fff;
}
.fn-size-color {
    font-size: 1.4rem;
    color: #2d83d0;
}
.height-26{
    height:26px;
    line-height: 1.6rem;
}
!*搜索*!
.p2{
    padding-left:2%;
}
.payment{
    width:94%;
    border:1px solid #2d83d0;
    margin:3%;
    border-radius: 10px;
    color:#2d83ce;
}
.payment-input{
    border:none;
    width:80%;
    outline: none;
}

.payment-input:not([type=radio]):not([type=checkbox]), select {
    vertical-align:inherit;
}
.payment-input input[placeholder]{
    color: #ebf6ff!important;
}
ul.paymentList-dropdown{
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}
ul.paymentList-dropdown>li>a{
    margin: 0;
}
ul.myorder-dropdown>.fn-active>a{
    color: #2d83ce;
    background-color: #ebf6ff;
}

.myorder-box ul{
    padding: .8rem;
}
.myorder-box ul>li{
    border-radius: .8rem;
    margin-bottom: .6rem;
    overflow: hidden;

}
.myorder-box ul>li>a{
    display: block;
    padding: 0;
}
.myorder-box ul>li:first-child{
    border-radius: .8rem!important;
}
.myorder-box ul>li:last-of-type{
    margin-bottom: 0;
}
.num-content,.mon-content{
    height: 3.1rem;
}
.num-content{
    border-bottom: 1px solid #DFDFDF;
}

.mon-content{
    padding: 0 .6rem;
    border-top: 1px solid #DFDFDF;
}
.myorder-box .badge{
    width: 0;
    height: 0;
    color: #fff;
    border-right: 3.4rem solid transparent;
    border-top: 2.8rem solid #d7d7d7;
    display: inline-block;
    position: relative;
    top: -3px;
}
.badge-first{
    border-top: 2.8rem solid #ea566c;
}
.badge-first{

    border-top: 2.8rem solid #efbe27;
}
.badge-first{
    border-top: 2.8rem solid #3681c4;
}
.badge span{
    position: relative;
    top: -32px;
    left: 6px;
    width: 1.4rem;
    white-space: nowrap;
}
.num-content .myorderID{
    display: inline-block;
    height: 100%;width: 86%;
    line-height:3.1rem;
    background-color: #fff;
    color: #2d83ce;
    padding: 0 .6rem 0 0;
}
.mon-content span{
    display: inline-block;
    height: 100%;
    line-height:3.1rem;
    color: #000;
}
.num-content i{
    font-size: 1.4rem;
}
.myorderTime,.myorderName{
    color: #000;
}
.myorderMon{
    display: inline-block;
    height: 100%;
    line-height:3.1rem;
    background-color: #fff;
    color: #fb3b4e;
    font-weight: 600;
}
.del-content{
    min-height: 5rem;
    padding: .6rem;
    background: #fbfbfb;
}
.del-content span{
    color: #111;
}
.del-content div .myorderStau{
    color: #F27405;
}
!*订单详情*!
.orderDet-ul li{
    border: 1px solid #DFDFDF;
    margin-bottom: .6rem;
    overflow: hidden;
    border-radius: .8rem;
}
.orderDet-ul>li:last-of-type{
    margin-bottom: 50px;
}
.orderDet-ul .del-content{
    padding-bottom: 0;
}
!*收货人信息*!
.information-con .fn-fl{
    width: 8%;height: 100%;
    line-height: 3.1rem;
    text-align: center;
    color: #f7a014;
    font-size: 1.6rem;
    transform: rotateY(180deg);
}
.information-con .myorderID{
    color: #000;
    width: 90%;
}
.color-67{
    color: #676767;
}
.color-67.fn-text-xs{
    font-size:.8rem;
}
.back-red{
    background: #fa6767;
    font-weight: normal;
}
.fn-stripe-redblue::before{
    transform: rotateY(180deg);
    display: block;
    content: '';
    height: 4px;
    border-radius: 0 0 .8rem .8rem;
    background: repeating-linear-gradient(62deg,#529fd7 1px,#529fd7 5px,#fff 5px,#fff 10px,#ec5252 10px,#ec5252 15px,#fff 15px,#fff 20px);
    background: -webkit-repeating-linear-gradient(62deg,#529fd7 1px,#529fd7 5px,#fff 5px,#fff 10px,#ec5252 10px,#ec5252 15px,#fff 15px,#fff 20px);
    background: -moz-repeating-linear-gradient(62deg,#529fd7 1px,#529fd7 5px,#fff 5px,#fff 10px,#ec5252 10px,#ec5252 15px,#fff 15px,#fff 20px);
}
.informaList-con .myorderID{
    padding: 0 .6rem;
    color: #000;
}
.informaList-del .fn-padding-0 span{
    font-size: .9rem;
    color: #676767;
}
.informaList-del li {
    border: none;
    padding: .6rem;
    border-bottom: 1px solid #DFDFDF;
    margin-bottom:0;
    overflow: hidden;
    border-radius: 0;
}
.informaNum-con{
    padding: .6rem;
}
.bor-none{
    border: none;
}
.height-xs{
    height: 1rem;
}
.orderDetail-mon .mon-content{
    height: 2.2rem;
    margin-bottom: .3rem;
}
.height-sm{
    height: 2rem;
}
.delNode-con .myorderID{
    padding-left: .6rem;
    color: #000;
}
.node-content{
    height: 4rem;
    padding: .6rem;
}
.freight{
    height: 40px;
}
.freight p{
    height: 20px;
}
.font-normal{
    font-weight: normal;
}*/
/*product-detail*/
/*html{background: #f2f2f2;}
.proDe-top{width:100%;height:5rem;line-height:5rem;background-color: #fff;font-size:1.2rem;position:relative;}
.proDe-top_name{color:#3184CE;float: left;margin-left:1rem;}
.proDe-top_icon{float: right;!*margin-right:1rem;*!}
.proDe-top_icon i{
    position:absolute;
    right:0;
    margin-right:10px;
}
.proDe-top_line{width:100%;height:0.4rem;background:url("../img/top_line.png") no-repeat;background-size:100% 100%;position:absolute;bottom:0;}

.proDe-list{width:100%;height:13.3rem;font-size:1rem;overflow: hidden;}
.proDe-list_main{width:90%;height:100%;margin:0 auto;margin-top:1.5rem;}
.proDe-pic{width:7.6rem;height:8.3rem;float: left;position:relative;top:0.5rem;}
.proDe-pic>img{width:100%;height:100%;}
.proDe-card{float: left;margin-left:3.33rem;}

.proDe-btn{width:93%;margin:0 auto;margin-top:2rem;}
.proDe-btn div{width:100%;height:3rem;font-size:1.2rem;line-height:3rem;text-align:center;border:1px solid #76ACDD;border-radius:30px;}
.proDe-add{background-color:#fff;color:#3183CE;}
!*.buy{float:right;background-color: #2F83D0;color:#fff;}*!
!*product-detail*!
!*productSearch*!
.proSear{

}
.proSear-input{
    width:100%;
    height:5.4rem;
    background:#2d83ce;
    line-height:5.4rem;
    overflow: hidden;

}
.proSear-input div {
    float: left;
    width: 10%;
    height: 2.87rem;
    background: #fff;
    margin-top: 1.3rem;
    border-radius: 0.86rem 0 0 0.86rem;
    border:1px solid #8cc5f7;
    border-right:none;
    line-height:2.87rem;
    text-align: center;
    font-size:1.27rem!important;
    color:#2d83ce;
    margin-left:0.77rem;
}
.proSear-input input{
    float:left;
    border:1px solid #8cc5f7;
    border-radius: 0 0.86rem 0.86rem 0;
    width:74%;
    height:2.87rem;
    margin-top:1.3rem;
    border-left:none;
    outline: none;
    line-height:2.87rem;
}
.proSear-input span{
    color:#fff;
    margin-left:1rem;
}
.proSear-category,.proSear-screen{
    width:90%;
    margin:0 auto;
}
.proSear-category-title{
    overflow: hidden;
    height:4.47rem;
    line-height:4.47rem;
}
.proSear-category-title span{
    float:left;
}
.proSear-category-title span:nth-child(2){
    margin-left:10px;
}
.proSear-btn{
    !*background:#2d83ce;*!
    width:6rem;
    height:2.07rem;
    border:1px solid #cbcbcb;
    outline: none;
    color:#767676;
    background:#fafafa;
    border-radius:0.57rem;
    font-size:1rem;
    margin-right:2rem;
}
.proSear-screen{
    margin-top:1.83rem;
}
.proSear-screen-down{
    height:2.77rem;
    border:1px solid #2d83d0;
    border-radius: 0.73rem;
    color:#404040;
    line-height: 2.77rem;
    padding-left:10%;
}
.proSear-screen-down:nth-child(2){
    margin-top:6%;
}
html{
    background:#f2f2f2;
}*/
/*productSearch*/
/*cart*/
.cart-main{padding-bottom:40px;z-index:10000;position:relative;width:100%;height:100%;/*margin-bottom:1.25rem;*/background-color:#F2F2F2;overflow: hidden;}
.cart-list{width:100%;height:100%;margin:0 auto;padding:0 5%;overflow:auto}
.cart-list>li{width:100%;height:12.1rem;background-color:#fdfdfd;margin-top:0.533rem;border:1px solid #DADADA;border-radius: 10px;overflow:hidden;}
.cart-list_top{padding-left:0.76rem;width:100%;height:2.93rem;font-size:0.875rem;line-height:2.93rem;background-color: #fff;}
.cart-noCheck{position: relative;top:10%;}
.cart-noCheck{display: inline-block;width:1.3rem;height:1.3rem;border:1px solid #999;border-radius: 50%;}
.cart-name{margin-left:0.875rem;display: inline-block;height:2.93rem;}

.cart-list_middle{width:100%;height:5.7rem;font-size:0.775rem;border-top: 1px solid #DEDEDE;overflow: hidden;padding:0 1.13rem;}

.cart-xq{float: left;width: 80%;margin-top: 0.3rem;}
.cart-xq p{line-height:1.6rem;height:1.6rem}
/*.xq>p,.bzj>p{line-height: 1.25rem;}*/
.cart-bzj{float: right;margin-top:1rem;}

.cart-list_bottom{overflow:hidden;margin:0 1.06rem;width:100%;height:3.33rem;background-color: #fff;position:relative;border-top: 1px solid #DEDEDE}
.cart-count{width:6.56rem;height: 1.93rem;border-radius: 5px;background-color: #fff;margin-top: 0.533rem;overflow: hidden;}
/*
.count>span{height:1.5rem;line-height:1.5rem;background-color: #F7F7F7;text-align: center;}
.count_l,.count_r{float:left;width:28%;}
.count_num{float:left;width:40%;margin:0 1%;}
.count_r{color:#FF2A57;}
*/
html{height:100%}
.cart-count span{height:1.93rem;line-height:1.93rem;background-color: #F7F7F7;text-align: center;}
.cart-count_l,.cart-count_r{float:left;width:28%;}
.cart-count_num{float:left;width:40%;margin:0 1%;font-size:1.2rem;}
.cart-count_r{color:red;}


.cart-bottom{/*z-index:10000*/;width:100%;height:40px;line-height:40px;font-size:0.95rem;border-top: 1px solid #E5E5E5;position:absolute;bottom: 0;}
.cart-left{float:left;width:70%;height:100%;overflow:hidden;background-color: #fff;}
.cart-all_check{float:left;margin-left: 2rem;}
.cart-all_check>span{position:relative;top:0.2rem;left:-0.7rem;}
.cart-total{float:right;margin-right: 5%;color:#FB4152;}

.cart-right{float:right;width:30%;height:100%;background-color: #2F83CE;color:#fff;text-align: center;}

/*未选中图标样式*/


body{background:#F2F2F2}
.cart-list1{height:2.25rem;}
.cart-back{
    height:50px;
    line-height:50px;
    position: fixed;
    left:10px;
    top:0;
    color:#fff;
    font-size:1.4rem;
}
.cart-back:hover{
    color:#fff;
}
/*提交订单*/
html{background-color: #F2F2F2;}
input:focus { outline: none; }
.addO{position:relative;width:100%;height: 100%;;background-color: #F2F2F2;padding-top:0.6rem;overflow:auto;padding-bottom:50px;}
.addO i,span{display: inline-block;}
.addO ul,li{list-style: none;margin:0 0;padding:0 0;}
.addO .main{width:93%;background-color:#fff;margin:0 auto;border:1px solid #E6E6E6;border-radius: 8px;overflow: hidden;}
.addO .payWay{height:34rem;}
.addO .title{width:100%;height:3.4rem;line-height: 3.4rem;font-size:1.2rem;border-bottom:1px solid #E6E6E6;}
.addO .title>i{width:1.4rem;height:1.4rem;margin-left:1rem;margin-right:1rem;position: relative;top:9%;}
.addO .title_pay{background:url("../img/order_icon00.png") no-repeat;background-size: 100% 100%;}
.addO .title_delivery{background:url("../img/order_icon01.png") no-repeat;background-size: 100% 100%;}
.addO .title_date{background:url("../img/order_icon02.png") no-repeat;background-size: 100% 100%;}
.addO .title_remark{background:url("../img/order_icon03.png") no-repeat;background-size: 100% 100%;}

.addO .pay_list{width:26rem;overflow: hidden;margin:1.1rem 0 0 1rem;}
.addO .pay_list>li{float:left;width:8.6rem;height:2rem;font-size:1rem;border:1px solid #F1F1F1;line-height: 2rem;margin-right:3.6rem;margin-bottom:1.2rem;position:relative;}
.addO .pay_list>li>span{margin-left:30%;text-align: left;}
.addO .pay_list>li>i{position:absolute;left:6%;top:3%;font-size:1.3rem;}
.addO .pay_list>li>.icon-yuanxingweixuanzhong{color:#D3D3D3;}
.addO .pay_list>li>.icon-yuanxingxuanzhongfill{color:#1487CD;}
.addO .details{width:100%;margin-top:1rem;font-size: 1rem;}
.addO .details>p{height:1.5rem;margin-left:1rem;}
.addO .details_address>i{width:1.2rem;height:1.5rem;background:url("../img/order_icon04.png") no-repeat;background-size: 100% 100%;position:relative;top:29%;}
.addO .details_line{width:100%;height:0.4rem;margin-top:2rem;margin-bottom:1rem;background:url("../img/order_icon_line.png") no-repeat;background-size: 100% 100%;}
.addO .details_time{width:19rem;height:2rem;margin:1rem 0 0 1rem;position:relative;}
.addO .details_time>input{width:19rem;height:2rem;border:1px solid #E8E8E8;}
.addO .details_time>i{width:1.1rem;height:1.1rem;background:url("../img/order_icon_date.png") no-repeat;background-size: 100% 100%;position:absolute;right:3%;top:29%;}
.addO .payRmark{height:6.6rem;}
.addO .payRmark>input{margin-left:1rem;display: inline-block;width:100%;height:3rem;line-height:3rem;border: none;font-size:1.2rem;}

.addO .addorder-bottom{position:absolute;bottom:0;width:100%;height:50px;line-height:50px;text-align:center;background-color:#fff;border-top:1px solid #FCFCFC;}
.addO .addorder-bottom span{width:8.3rem;height:100%;color:#fff;float: right;}
.addO .addOrder-bottom_l{background-color: #F89860;}
.addO .addOrder-bottom_r{background-color: #2F83CE;}
/*提交订单*/
/*确认订单*/
html{
    background:#f2f2f2;
    height: 100%;
}
.orderconfirm{
    width:100%;
    margin:0 auto;
    overflow: auto;
    padding-bottom:4.23rem;
    color:#000;
    height:100%;
    font-size:0.9rem;
}
.orcon-div{
    background:#fff;
    width:93%;
    margin:0 auto;
    /*height:10.7rem;*/
    border:1px solid #c1c1c1;
    border-radius: 10px;
    margin-top:1rem;
    overflow:hidden;
}
/*公共*/
.orderconfirm i{
    font-size:1.3rem;
}
.ofirm-head{
    padding-left:1.07rem;
    border-bottom:1px solid #c1c1c1;
}
.ofirm-head p{
    height:3.27rem;
    line-height:3.27rem;
}
.ofirm-head i{
    font-size:1.3rem;
    color:#f7a014;
}
.ofirm-p{
    padding-left:1.07rem;
    height:2rem;
    line-height:2rem;
}
.ofirm-span{
    color:#676767;
}
/*公共*/
.orcon-Consignee-info{
    padding-left:1.07rem;
    padding-bottom:14px;
    position: relative;
    overflow: hidden;
}
.orcon-Consignee-info-bg{
    position: absolute;
    bottom:0;left:0;
    background:url(../img/orderConfirm2.png) repeat-x;
    width:100%;
    height:4px;
    /*border-radius: 0 0 10px 10px;*/
}
.orderconfirm-pro{
    overflow:hidden;
    background:#fbfbfb;
}
.orderconfirm-pro div{
    float:left;
}
.orderconfirm-price p{
    padding:0 1.07rem;
}
.orderconfirm-price span{
    float:right;
}
.orderconfirm-price .orderconfirm-price-p{
    padding-left:2.17rem;
    font-size:1rem;
    color:#989898;
}
.orderconfirm-text{
    border:none;
    color:#767676;
    outline: none;
    width:100%;
    height:auto;
}
.orderconfirm-bottom{
    width:100%;
    height:4.23rem;
    background:#fff;
    position: absolute;
    z-index:1001;
    bottom:0;
    border-top:1px solid #d8d6d6;

}
.orderconfirm-bottom span{
    float:right;
    height:4.23rem;
    line-height:4.23rem;
}
.orderconfirm-submit{
    width:23.5%;
    background:#2d83ce;
    color:#fff;
    text-align: center;
}
.orderconfirm-submit-price{
    color:#fb3b4e;
    margin-right:1.8rem;
}
.orderCofirm-xiaoji{
    text-align: right;
    padding:0 1.07rem;
}
.orderCofirm-time{
    text-align: right;
    padding:0 1.07rem;
    margin-bottom:16px;
}
/*订单成功*/
.orderSucess{
    height:33.9rem;
    width:95.1%;
    border:2px solid #dbdbdb;
    margin:0 auto;
    background:#fff;
    border-radius: 1rem;
    margin-top:1.2rem;
}
html,body{
    background:#f2f2f2;
}
.orderSucess-order{
    width:100%;
    height:12.17rem;
    border-bottom:1px solid #ededed;
}
.orderSucess-order p{
    text-align: center;
}
.orderSucess-order p:nth-child(1){
    color:#64bc34;
    font-size:4rem;
    line-height:7.37rem;
    height:7.37rem;
}
.orderSucess-i{
    font-size:4rem;
}
.orderSucess-order-p{

}
.orderSucess-p{
    text-align: center;
    height:1.57rem;
    line-height:1.57rem;
    color:#ababab;
    font-size:1rem;
}
.orderSucess-Prompt-p{
    width:93%;
    margin:0 auto;
    color:#c1c1c1;
    font-size:1rem;
    line-height:2;
}
.orderSucess-Prompt p:nth-child(1){
    color:#000;
}
.orderSucess-Prompt p:nth-child(6){
    color:#5a5a5a;
    font-size:1.2rem;
}
.orderConfirm-tig{
    background:#fff;
    border:none;
    padding-bottom:10px;
    outline: none;
    padding-left:1.07rem;
}
.orderConfirm-tig-div{
    padding-bottom:10px;
}

