#productList li{
    background:lightblue;
    height:10rem;
    overflow:hidden;
}
/*产品列表搜索框*/
/*#topbar{z-index:10;}*/
li{list-style: none}
.productListUl{padding-left:0;background:#f2f2f2;overflow:hidden;}
.productListUl li{width:94.72%;height:10.3rem;border:1px solid #dbdbdb;border-radius: 0.7rem;margin:0.67rem auto 0;}
#productList{/*margin-top:5rem;*//*overflow: hidden*/}
.productSearch{background:#fff;width:100%;height:4.86rem;padding-top:1.6rem;position:relative;}
.productSearch i{
    position:absolute;
    left:1.9rem;
    top:2.1rem;
    /*background:red;*/
    color:#2d83d0;
    font-size:1.2rem;

}
.productSearch input{padding-left:3.73rem;height:2.67rem;font-size:1rem;line-height:2.67rem;color:#b9b9b9;outline:none;width:95%;border:1px solid #2d83d0;border-radius: 0.73rem;display:block;margin:0 auto;}

.item-media{
    position: relative;
    width:100%;height:3.07rem;
    line-height:3.07rem;
    /*background:red;*/
    border-radius: 0.7rem 0.7rem 0 0;
    border-bottom:1px solid #c1c1c1;
    background:#fff;
    overflow: hidden;
}
.proListTig{
    display: block;
    position: absolute;
    left:0;
    top:0;
    background: red;
    border-top:1.2rem solid #ea566c;
    border-left:1.2rem solid #ea566c;
    border-right:1.2rem solid #fff;
    border-bottom:1.2rem solid #fff;

}
.proListBt{
    z-index:10;
    position: absolute;
    font-size:1rem;
    color:#2d83ce;
    left:1.6rem;

}
/*.turnProDe{
    float:right;
    background:url(views/order/img/turnPro.png) no-repeat center center;
}*/
.item-inner{
    height:7.1rem;
    width:100%;
    overflow:hidden;
    background:#fbfbfb;
}
.productInfo{
    font-size:1rem;
    float:left;
    margin-top:0.8rem;
    color:#333;
}
.productInfo p,.item-title{
    line-height:1.6rem;
    height:1.6rem;
    margin-left:1.07rem;
}
.productStaPrice{
    float:right;
    margin:1.87rem 2.2rem 0 0;
    font-size:1rem;
}
/*.productStaPrice p{
    margin-bottom:0.7rem;
}*/
.productStaPrice span{
    font-size:1rem;
    color:#ff2150;
}
.productSearchIcon{

}
.productChangeList{
    background:#fff;
    height:3.17rem;
    width:100%;
    font-size:1.07rem;
    line-height:3.17rem;
    color:#2d83ce;
}
.productChangeList a{
    display:inline-block;
    text-align: center;
    width:32.3%;
}
.productChangeList a:nth-child(1){
    /*background:red;*/
    border-bottom:1px solid #2d83ce;
}
/*.productsuo{
    text-indent: 9.5rem;
}*/
/*product-detail*/
html{background-color: #F2F2F2;}
.top{width:100%;height:5rem;line-height:5rem;background-color: #fff;font-size:1.2rem;position:relative;}
.top_name{color:#3184CE;float: left;margin-left:1rem;}
.top_icon{float: right;margin-right:1rem;}
.top_line{width:100%;height:0.4rem;background:url("../img/top_line.png") no-repeat;background-size:100% 100%;position:absolute;bottom:0;}

.list{width:100%;height:13.3rem;font-size:1rem;overflow: hidden;}
.list_main{width:90%;height:100%;margin:0 auto;margin-top:1.5rem;}
.pic{width:7.6rem;height:8.3rem;float: left;position:relative;top:0.5rem;}
.pic>img{width:100%;height:100%;}
.card{float: left;margin-left:3.33rem;}

.btn{width:93%;margin:0 auto;margin-top:2rem;}
.btn>div{width:48%;height:3rem;font-size:1.2rem;line-height:3rem;text-align:center;border:1px solid #76ACDD;border-radius:30px;}
.add{float: left;background-color:#fff;color:#3183CE;}
.buy{float:right;background-color: #2F83D0;color:#fff;}
/*product-detail*/
