html{
    background:#f2f2f2;
}
.orderconfirm{
    width:95.27%;
    margin:0 auto;
    overflow: hidden;
}
.orderconfirm{
    color:#000;
}
.orcon-div{
    width:100%;
    /*height:10.7rem;*/
    border:1px solid #c1c1c1;
    border-radius: 0.7rem;
    margin-top:1rem;
}
/*公共*/
.orderconfirm i{
    font-size:1.3rem;
}
.ofirm-head{
    padding-left:1.07rem;
    border-bottom:1px solid #c1c1c1;
}
.ofirm-head p{
    height:3.27rem;
    line-height:3.27rem;
}
.ofirm-head i{
    font-size:1.3rem;
    color:#f7a014;
}
.ofirm-p{
    padding-left:1.07rem;
    height:2.57rem;
    line-height:2.57rem;
}
.ofirm-span{
    color:#676767;
}
/*公共*/
.orcon-Consignee-info{
    padding-left:1.07rem;
}
.orderconfirm-pro{
    overflow:hidden;
    background:#fbfbfb;
}
.orderconfirm-pro div{
    float:left;
}
.orderconfirm-price p{
    padding:0 1.07rem;
}
.orderconfirm-price span{
    float:right;
}
.orderconfirm-price .orderconfirm-price-p{
    padding-left:2.17rem;
    font-size:1rem;
    color:#989898;
}
.orderconfirm-text{
    border:none;
    color:#767676;
    outline: none;
    width:100%;
    height:auto;
}
.orderconfirm-bottom{
    width:100%;
    height:4.23rem;
    background:#fff;
    position: fixed;
    bottom:0;
    border-top:1px solid #d8d6d6;

}
.orderconfirm-bottom span{
    float:right;
    height:4.23rem;
    line-height:4.23rem;
}
.orderconfirm-submit{
    width:23.5%;
    background:#2d83ce;
    color:#fff;
    text-align: center;
}
.orderconfirm-submit-price{
    color:#fb3b4e;
    margin-right:1.8rem;
}