<div class="addO">
    <div class="payWay main">
        <p class="title">
            <i class="title_pay"></i>选择付款方式
        </p>
        <ul class="pay_list">
            <li><i class="iconfont icon-yuanxingweixuanzhong"></i><span>电汇</span></li>
            <li><i class="iconfont icon-yuanxingxuanzhongfill"></i><span>承兑</span></li>
            <li><i class="iconfont icon-yuanxingxuanzhongfill"></i><span>现金支票</span></li>
            <li><i class="iconfont icon-yuanxingxuanzhongfill"></i><span>其他</span></li>
        </ul>
        <p class="title">
            <i class="title_delivery"></i>选择交货方式
        </p>
        <ul class="pay_list">
            <li><i class="iconfont icon-yuanxingweixuanzhong"></i><span>自提</span></li>
            <li><i class="iconfont icon-yuanxingxuanzhongfill"></i><span>配送</span></li>
        </ul>
        <div class="details">
            <p><span style="margin-left:2.2rem;">收货人  ：  </span><span style="margin-right:5rem;">王小二</span><span>15900001256</span></p>
            <p class="details_address"><i></i><span style="margin-left:1rem;">配送地址  ：  </span>浙江省杭州市下城区新市街153号</p>
        </div>
        <div class="details_line"></div>
        <p class="title">
            <i class="title_date"></i>要货日期
        </p>
        <div class="details_time">
            <input type="text">
            <i></i>
        </div>
    </div>
    <div class="main payRmark">
        <p class="title">
            <i class="title_remark"></i>订单备注
        </p>
        <input type="text" placeholder="备注请勿超过50字">
    </div>

    <div class="bottom">
        <span class="bottom_l">预览内容</span>
        <a ui-sref="orderConfirm"><span class="bottom_r">提价订单</span></a>
    </div>
</div>