
<!-- body -->
<div class="cart-main">
    <ul class="cart-list">
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>
            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>
            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>

            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>

            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>

            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>

            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>

            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>

            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>
        <li>
            <div class="cart-list_top">

                <span class="cart-noCheck"></span>
                <span class="cart-name">聚氯乙烯</span>

            </div>
            <div class="cart-list_middle">

                <div class="cart-xq">
                    <p>
                        <span style="margin-right:1rem;">编号:10001</span>
                        <span>规格:262dtex/48f</span>
                    </p>
                    <p>
                        <span>备注：适合于任何产品</span>
                    </p>
                    <p style="color:#A5A5A5;">
                        <span style="margin-right:1rem;">颜色：白色;</span>
                        <span >要货日期：2017-03-08</span>
                    </p>
                </div>
                <div class="cart-bzj">
                    <p>标准价</p>
                    <p style="color:#FF5376;">￥123</p>
                </div>

            </div>
            <div class="cart-list_bottom">

                <div class="cart-count">
                    <span class="cart-count_l">-</span><span class="cart-count_num">5</span><span class="cart-count_r">+</span>
                </div>

            </div>
        </li>

    </ul>
    <div class="cart-bottom">
        <div class="cart-left">
            <div class="cart-all_check"><span class="noCheck"></span>全选</div>
            <span class="cart-total">合计：<span>¥780.80</span></span>
        </div>
        <a ui-sref="order.addOrder"><div class="cart-right">去结算(<span>2</span>)</div> </a>
    </div>
</div>





<!--bottom bar  -->
<!--
<bottom-bar></bottom-bar>-->
