
<div class="page-content hide-bars-on-scroll">

    <div class="card">
        <div class="card-header">编号:{{product.productId}}</div>
        <div class="card-content">
            <div class="card-content-inner">名称：{{product.productName}}</div>
            <div class="card-content-inner">价格：{{product.price}}</div>
            <div class="card-content-inner">长度：{{product.length}}</div>
            <div class="card-content-inner">规格：{{product.type}}</div>
        </div>
        <div class="card-footer">xxxxxxxxxxx</div>
    </div>

</div>


<div id = "dropdown1">
    <div class="fn-dropdown" data-fn-dropdown="{justify:'#dropdown1'}">
        <button class="fn-btn fn-btn-default fn-dropdown-toggle">种类<i class="fn-icon-caret-down"></i></button>
        <div class="fn-dropdown-content">
            <h2>dfasdfasf</h2>
            <p>内容</p>
        </div>
    </div>
</div>


<div class="fn-dropdown" data-fn-dropdown>
    <button class="fn-btn fn-btn-default fn-dropdown-toggle">种类<i class="fn-icon-caret-down"></i></button>
    <div class="fn-dropdown-content">
        <h2>dfasdfasf</h2>
        <p>内容</p>
    </div>
</div>