<div class="proSear">
    <div class="proSear-input">
        <div><i class="iconfont icon-sousuo1"></i></div>
        <input type="text" placeholder="POY">
        <span>取消</span>
    </div>
    <div class="proSear-category">
        <div class="proSear-category-title">
            <span><i class="iconfont icon-liebiaoxingshi"></i></span>
            <span>产品编号</span>

        </div>
        <div>
            <input class="proSear-btn" type="button" value="产品名称">
            <input class="proSear-btn" type="button" value="产品名称">
            <input class="proSear-btn" type="button" value="产品名称">

        </div>
    </div>
    <div class="proSear-screen">
        <div class="proSear-category-title">
            <span><i class="iconfont icon-shaixuan"></i></span>
            <span>筛选</span>
        </div>
        <div>
            <div class="proSear-screen-down">行政物资</div>
            <div class="proSear-screen-down">文具用品</div>
        </div>
    </div>
</div>