
<div class="page-content hide-bars-on-scroll">

    <div class="proDe-top">
        <span class="proDe-top_name">POY</span>
        <div class="proDe-top_icon">
            <i style="color:#BEBEBE;" class="iconfont icon-biaoxing"></i>
            <i style="color:#2F83CE;" class="iconfont icon-gouwuche"></i>
        </div>
        <div class="proDe-top_line"></div>
    </div>

    <div class="proDe-list">
        <div class="proDe-list_main">
            <div class="proDe-pic">
                <img src="views/order/img/shili00.png" alt="">
            </div>
            <div class="proDe-card">
                <div class="card-header">产品编号:{{product.productId}}</div>
                <div class="card-content">
                    <div class="card-content-inner">名称：{{product.productName}}</div>
                    <div class="card-content-inner">价格：<span style="color:#FF375F;">{{product.price}}</span></div>
                    <div class="card-content-inner">长度：{{product.length}}</div>
                    <div class="card-content-inner">规格：{{product.type}}</div>
                </div>
                <div class="card-footer">xxxxxxxxxxx</div>
            </div>
        </div>
    </div>
</div>
<div class="proDe-btn">
    <a ui-sref="cart"><div class="proDe-add">加入购物车</div></a>

</div>


<!--
<drop-down>
    <button class="fn-btn fn-btn-primary fn-dropdown-toggle"
            data-fn-dropdown-toggle>
        下拉列表 <span class="fn-icon-caret-down"></span>
    </button>
    <ul class="fn-dropdown-content">
        <li class="fn-dropdown-header">标题</li>
        <li><a href="#">1</a></li>
        <li class="fn-active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="fn-disabled"><a href="#">4</a></li>
        <li class="fn-divider">5</li>
        <li><a href="#">6</a></li>
    </ul>
</drop-down>-->