
<div class="page-content hide-bars-on-scroll">

    <div class="card">
        <div class="card-header">编号:{{product.productId}}</div>
        <div class="card-content">
            <div class="card-content-inner">名称：{{product.productName}}</div>
            <div class="card-content-inner">价格：{{product.price}}</div>
            <div class="card-content-inner">长度：{{product.length}}</div>
            <div class="card-content-inner">规格：{{product.type}}</div>
        </div>
        <div class="card-footer">xxxxxxxxxxx</div>
    </div>

</div>


<drop-down>
    <button class="fn-btn fn-btn-primary fn-dropdown-toggle"
            data-fn-dropdown-toggle>
        下拉列表 <span class="fn-icon-caret-down"></span>
    </button>
    <ul class="fn-dropdown-content">
        <li class="fn-dropdown-header">标题</li>
        <li><a href="#">1</a></li>
        <li class="fn-active"><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li class="fn-disabled"><a href="#">4</a></li>
        <li class="fn-divider">5</li>
        <li><a href="#">6</a></li>
    </ul>
</drop-down>